@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
  @apply text-white px-[1.375rem] py-[0.3rem] bg-primary cursor-pointer hover:opacity-70 transition-all;
}

.slick-dots {
  @apply !flex justify-start w-full;
  bottom:-50% !important;
}

.slick-dots .slick-active div {
  @apply bg-primary;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}